BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk00" SITE "1" ;
LOCATE COMP "outFlag0" SITE "2" ;
LOCATE COMP "inFlag0" SITE "3" ;
LOCATE COMP "cdiv00[0]" SITE "39" ;
LOCATE COMP "cdiv00[1]" SITE "41" ;
LOCATE COMP "cdiv00[2]" SITE "40" ;
LOCATE COMP "cdiv00[3]" SITE "100" ;
LOCATE COMP "cdiv00[4]" SITE "105" ;
LOCATE COMP "en0" SITE "50" ;
LOCATE COMP "rw0" SITE "42" ;
LOCATE COMP "outtransist0[0]" SITE "33" ;
LOCATE COMP "outtransist0[1]" SITE "32" ;
LOCATE COMP "outtransist0[2]" SITE "35" ;
LOCATE COMP "outtransist0[3]" SITE "34" ;
LOCATE COMP "outword0[0]" SITE "143" ;
LOCATE COMP "outword0[1]" SITE "140" ;
LOCATE COMP "outword0[2]" SITE "141" ;
LOCATE COMP "outword0[3]" SITE "138" ;
LOCATE COMP "outword0[4]" SITE "139" ;
LOCATE COMP "outword0[5]" SITE "132" ;
LOCATE COMP "outword0[6]" SITE "133" ;
LOCATE COMP "outring0[0]" SITE "74" ;//74
LOCATE COMP "outring0[1]" SITE "76" ;//76
LOCATE COMP "outring0[2]" SITE "78" ;//78
LOCATE COMP "outring0[3]" SITE "82" ;//82
LOCATE COMP "outring0[4]" SITE "4" ;
LOCATE COMP "outled0[0]" SITE "22" ;//22
LOCATE COMP "outled0[1]" SITE "21" ;//21
LOCATE COMP "outled0[2]" SITE "24" ;//24
LOCATE COMP "outled0[3]" SITE "23" ;//23
LOCATE COMP "outled0[4]" SITE "26" ;
LOCATE COMP "outcontcw0[0]" SITE "28" ;
LOCATE COMP "outcontcw0[1]" SITE "27" ;
LOCATE COMP "outcontcw0[2]" SITE "110" ;
LOCATE COMP "outcontcw0[3]" SITE "109" ;
LOCATE COMP "outcontcw0[4]" SITE "112" ;
LOCATE COMP "outcontr0[0]" SITE "111" ;
LOCATE COMP "outcontr0[1]" SITE "114" ;
LOCATE COMP "outcontr0[2]" SITE "113" ;
LOCATE COMP "outcontr0[3]" SITE "117" ;
LOCATE COMP "outcontr0[4]" SITE "115" ;
LOCATE COMP "inkey0[3]" SITE "81" ;
LOCATE COMP "inkey0[2]" SITE "75" ;
LOCATE COMP "inkey0[1]" SITE "77" ;
LOCATE COMP "inkey0[0]" SITE "73" ;
