LOCATE COMP "cdiv00[0]" SITE "62" ;
LOCATE COMP "cdiv00[1]" SITE "67" ;
LOCATE COMP "cdiv00[2]" SITE "61" ;
LOCATE COMP "cdiv00[3]" SITE "65" ;
LOCATE COMP "cdiv00[4]" SITE "58" ;
LOCATE COMP "en0" SITE "40" ;
LOCATE COMP "opcode0[0]" SITE "43" ;
LOCATE COMP "opcode0[1]" SITE "45" ;
LOCATE COMP "opcode0[2]" SITE "42" ;
LOCATE COMP "opcode0[3]" SITE "44" ;
LOCATE COMP "portA0[0]" SITE "54" ;
LOCATE COMP "portA0[1]" SITE "56" ;
LOCATE COMP "portA0[2]" SITE "52" ;
LOCATE COMP "portA0[3]" SITE "55" ;
LOCATE COMP "portA0[4]" SITE "48" ;
LOCATE COMP "portA0[5]" SITE "50" ;
LOCATE COMP "portA0[6]" SITE "47" ;
LOCATE COMP "portA0[7]" SITE "49" ;
LOCATE COMP "portB0[0]" SITE "98" ;
LOCATE COMP "portB0[1]" SITE "97" ;
LOCATE COMP "portB0[2]" SITE "100" ;
LOCATE COMP "portB0[3]" SITE "99" ;
LOCATE COMP "portB0[4]" SITE "105" ;
LOCATE COMP "portB0[5]" SITE "104" ;
LOCATE COMP "portB0[6]" SITE "107" ;
LOCATE COMP "portB0[7]" SITE "106" ;
LOCATE COMP "outac0[0]" SITE "110" ;
LOCATE COMP "outac0[1]" SITE "109" ;
LOCATE COMP "outac0[2]" SITE "112" ;
LOCATE COMP "outac0[3]" SITE "111" ;
LOCATE COMP "outac0[4]" SITE "114" ;
LOCATE COMP "outac0[5]" SITE "113" ;
LOCATE COMP "outac0[6]" SITE "117" ;
LOCATE COMP "outac0[7]" SITE "115" ;
LOCATE COMP "clk00" SITE "95" ;
LOCATE COMP "outFlagac0" SITE "120" ;
LOCATE COMP "outFlaginside" SITE "119" ;
