BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "cdiv00[0]" SITE "62" ;
LOCATE COMP "cdiv00[1]" SITE "67" ;
LOCATE COMP "cdiv00[2]" SITE "61" ;
LOCATE COMP "cdiv00[3]" SITE "65" ;
LOCATE COMP "cdiv00[4]" SITE "58" ;
LOCATE COMP "OP" SITE "40" ;
LOCATE COMP "clr0" SITE "38" ;
LOCATE COMP "COLSLED[0]" SITE "110" ;
LOCATE COMP "COLSLED[1]" SITE "109" ;
LOCATE COMP "COLSLED[2]" SITE "112" ;
LOCATE COMP "COLSLED[3]" SITE "111" ;
LOCATE COMP "LED_1" SITE "114" ;
LOCATE COMP "ROWSLED[0]" SITE "113" ;
LOCATE COMP "ROWSLED[1]" SITE "117" ;
LOCATE COMP "ROWSLED[2]" SITE "115" ;
LOCATE COMP "ROWSLED[3]" SITE "120" ;
LOCATE COMP "clk00" SITE "119" ;
LOCATE COMP "LCD_DATA0[0]" SITE "23" ;
LOCATE COMP "LCD_DATA0[1]" SITE "24" ;
LOCATE COMP "LCD_DATA0[2]" SITE "25" ;
LOCATE COMP "LCD_DATA0[3]" SITE "26" ;
LOCATE COMP "LCD_DATA0[4]" SITE "27" ;
LOCATE COMP "LCD_DATA0[5]" SITE "28" ;
LOCATE COMP "LCD_DATA0[6]" SITE "32" ;
LOCATE COMP "LCD_DATA0[7]" SITE "33" ;
LOCATE COMP "LCD_ENABLE0" SITE "22" ;
LOCATE COMP "LCD_RS0" SITE "20" ;
LOCATE COMP "LCD_RW0" SITE "21" ;
LOCATE COMP "ROWS[1]" SITE "69" ;
LOCATE COMP "ROWS[3]" SITE "68" ;
LOCATE COMP "ROWS[2]" SITE "70" ;
LOCATE COMP "ROWS[0]" SITE "71" ;
LOCATE COMP "COLS[3]" SITE "92" ;
LOCATE COMP "COLS[2]" SITE "91" ;
LOCATE COMP "COLS[1]" SITE "94" ;
LOCATE COMP "COLS[0]" SITE "93" ;
