BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "So[0]" SITE "110" ;
LOCATE COMP "So[1]" SITE "109" ;
LOCATE COMP "So[2]" SITE "112" ;
LOCATE COMP "LED" SITE "113" ;
LOCATE COMP "Ai[0]" SITE "105" ;
LOCATE COMP "Ai[1]" SITE "104" ;
LOCATE COMP "Ai[2]" SITE "107" ;
LOCATE COMP "Bi[0]" SITE "94" ;
LOCATE COMP "Bi[1]" SITE "93" ;
LOCATE COMP "Bi[2]" SITE "96" ;
LOCATE COMP "Bi[3]" SITE "95" ;
LOCATE COMP "So[3]" SITE "111" ;
LOCATE COMP "Ai[3]" SITE "106" ;
LOCATE COMP "SL" SITE "40" ;
