BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "indiv0[0]" SITE "45" ;
LOCATE COMP "indiv0[1]" SITE "44" ;
LOCATE COMP "indiv0[2]" SITE "43" ;
LOCATE COMP "indiv0[3]" SITE "42" ;
LOCATE COMP "lectura" SITE "68" ;
LOCATE COMP "reset" SITE "69" ;
LOCATE COMP "entradaTeclado[0]" SITE "73" ;
LOCATE COMP "entradaTeclado[1]" SITE "75" ;
LOCATE COMP "entradaTeclado[2]" SITE "77" ;
LOCATE COMP "entradaTeclado[3]" SITE "81" ;
LOCATE COMP "EN" SITE "96" ;
LOCATE COMP "RS" SITE "98" ;
LOCATE COMP "RW" SITE "95" ;
LOCATE COMP "salidaContadorCondiguracion[0]" SITE "2" ;
LOCATE COMP "salidaContadorCondiguracion[1]" SITE "4" ;
LOCATE COMP "salidaContadorCondiguracion[2]" SITE "6" ;
LOCATE COMP "salidaContadorCondiguracion[3]" SITE "10" ;
LOCATE COMP "salidaContadorCondiguracion[4]" SITE "12" ;
LOCATE COMP "salidaContadorDatos[0]" SITE "1" ;
LOCATE COMP "salidaContadorDatos[1]" SITE "3" ;
LOCATE COMP "salidaContadorDatos[2]" SITE "5" ;
LOCATE COMP "salidaContadorDatos[3]" SITE "9" ;
LOCATE COMP "salidaContadorDatos[4]" SITE "11" ;
LOCATE COMP "salidaContadorDatos[5]" SITE "127" ;
LOCATE COMP "salidaPantalla[0]" SITE "93" ;
LOCATE COMP "salidaPantalla[1]" SITE "94" ;
LOCATE COMP "salidaPantalla[2]" SITE "91" ;
LOCATE COMP "salidaPantalla[3]" SITE "92" ;
LOCATE COMP "salidaPantalla[4]" SITE "85" ;
LOCATE COMP "salidaPantalla[5]" SITE "86" ;
LOCATE COMP "salidaPantalla[6]" SITE "83" ;
LOCATE COMP "salidaPantalla[7]" SITE "84" ;
LOCATE COMP "salidaPantallaMirror[0]" SITE "110" ;
LOCATE COMP "salidaPantallaMirror[1]" SITE "112" ;
LOCATE COMP "salidaPantallaMirror[2]" SITE "114" ;
LOCATE COMP "salidaPantallaMirror[3]" SITE "117" ;
LOCATE COMP "salidaPantallaMirror[4]" SITE "120" ;
LOCATE COMP "salidaPantallaMirror[5]" SITE "122" ;
LOCATE COMP "salidaPantallaMirror[6]" SITE "126" ;
LOCATE COMP "salidaPantallaMirror[7]" SITE "128" ;
LOCATE COMP "VCC_x" SITE "109" ;
LOCATE COMP "outosc0" SITE "13" ;
LOCATE COMP "anillo[0]" SITE "74" ;
LOCATE COMP "anillo[1]" SITE "76" ;
LOCATE COMP "anillo[2]" SITE "78" ;
LOCATE COMP "anillo[3]" SITE "82" ;
LOCATE COMP "salidaAux" SITE "125" ;
