BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "SL" SITE "1" ;
LOCATE COMP "LED" SITE "91" ;
LOCATE COMP "Ai[3]" SITE "5" ;
LOCATE COMP "Ai[2]" SITE "6" ;
LOCATE COMP "Ai[1]" SITE "9" ;
LOCATE COMP "Ai[0]" SITE "10" ;
LOCATE COMP "Bi[3]" SITE "19" ;
LOCATE COMP "Bi[2]" SITE "20" ;
LOCATE COMP "Bi[1]" SITE "21" ;
LOCATE COMP "Bi[0]" SITE "22" ;
LOCATE COMP "So[3]" SITE "59" ;
LOCATE COMP "So[2]" SITE "58" ;
LOCATE COMP "So[1]" SITE "60" ;
LOCATE COMP "So[0]" SITE "61" ;
