BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "indiv0[4]" SITE "5" ;
LOCATE COMP "indiv0[3]" SITE "6" ;
LOCATE COMP "indiv0[2]" SITE "9" ;
LOCATE COMP "indiv0[1]" SITE "10" ;
LOCATE COMP "indiv0[0]" SITE "11" ;
LOCATE COMP "oscout0" SITE "91" ;
LOCATE COMP "cdiv0[3]" SITE "20" ;
LOCATE COMP "cdiv0[2]" SITE "21" ;
LOCATE COMP "cdiv0[4]" SITE "19" ;
LOCATE COMP "cdiv0[1]" SITE "22" ;
LOCATE COMP "cdiv0[0]" SITE "132" ;
