BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "cdiv[4]" SITE "10" ;
LOCATE COMP "cdiv[3]" SITE "11" ;
LOCATE COMP "cdiv[2]" SITE "12" ;
LOCATE COMP "cdiv[1]" SITE "13" ;
LOCATE COMP "cdiv[0]" SITE "14" ;
LOCATE COMP "ens" SITE "1" ;
LOCATE COMP "ins[7]" SITE "26" ;
LOCATE COMP "ins[6]" SITE "25" ;
LOCATE COMP "ins[5]" SITE "28" ;
LOCATE COMP "ins[4]" SITE "27" ;
LOCATE COMP "ins[3]" SITE "33" ;
LOCATE COMP "ins[2]" SITE "32" ;
LOCATE COMP "ins[1]" SITE "35" ;
LOCATE COMP "ins[0]" SITE "34" ;
LOCATE COMP "clk" SITE "61" ;
LOCATE COMP "outs[7]" SITE "91" ;
LOCATE COMP "outs[6]" SITE "92" ;
LOCATE COMP "outs[5]" SITE "93" ;
LOCATE COMP "outs[4]" SITE "94" ;
LOCATE COMP "outs[3]" SITE "96" ;
LOCATE COMP "outs[2]" SITE "95" ;
LOCATE COMP "outs[1]" SITE "98" ;
LOCATE COMP "outs[0]" SITE "97" ;
LOCATE COMP "outs[0]" SITE "97" ;
LOCATE COMP "outseq" SITE "38" ;
LOCATE COMP "outassert" SITE "99" ;
