BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "cdiv0[0]" SITE "62" ;
LOCATE COMP "cdiv0[1]" SITE "67" ;
LOCATE COMP "cdiv0[2]" SITE "61" ;
LOCATE COMP "cdiv0[3]" SITE "65" ;
LOCATE COMP "ac0[0]" SITE "110" ;
LOCATE COMP "ac0[1]" SITE "109" ;
LOCATE COMP "ac0[2]" SITE "112" ;
LOCATE COMP "ac0[3]" SITE "111" ;
LOCATE COMP "ac0[4]" SITE "114" ;
LOCATE COMP "ac0[5]" SITE "113" ;
LOCATE COMP "ac0[6]" SITE "117" ;
LOCATE COMP "ac0[7]" SITE "115" ;
LOCATE COMP "ac0[8]" SITE "120" ;
LOCATE COMP "ac0[9]" SITE "119" ;
LOCATE COMP "ac0[10]" SITE "121" ;
LOCATE COMP "ac0[11]" SITE "122" ;
LOCATE COMP "ac0[12]" SITE "125" ;
LOCATE COMP "ac0[13]" SITE "126" ;
LOCATE COMP "ac0[14]" SITE "127" ;
LOCATE COMP "ac0[15]" SITE "128" ;
LOCATE COMP "portA0[0]" SITE "54" ;
LOCATE COMP "portA0[1]" SITE "56" ;
LOCATE COMP "portA0[2]" SITE "52" ;
LOCATE COMP "portA0[3]" SITE "55" ;
LOCATE COMP "portA0[4]" SITE "48" ;
LOCATE COMP "portA0[5]" SITE "50" ;
LOCATE COMP "portA0[6]" SITE "47" ;
LOCATE COMP "portA0[7]" SITE "49" ;
LOCATE COMP "portB0[0]" SITE "98" ;
LOCATE COMP "portB0[1]" SITE "97" ;
LOCATE COMP "portB0[2]" SITE "100" ;
LOCATE COMP "portB0[3]" SITE "99" ;
LOCATE COMP "portB0[4]" SITE "105" ;
LOCATE COMP "portB0[5]" SITE "104" ;
LOCATE COMP "portB0[6]" SITE "107" ;
LOCATE COMP "portB0[7]" SITE "106" ;
LOCATE COMP "codop0[0]" SITE "43" ;
LOCATE COMP "codop0[1]" SITE "45" ;
LOCATE COMP "codop0[2]" SITE "42" ;
LOCATE COMP "codop0[3]" SITE "44" ;
LOCATE COMP "codop0[4]" SITE "39" ;
LOCATE COMP "clk0" SITE "95" ;
LOCATE COMP "enable0" SITE "40" ;
LOCATE COMP "corr0[0]" SITE "60" ;
LOCATE COMP "corr0[1]" SITE "57" ;
LOCATE COMP "corr0[2]" SITE "59" ;
LOCATE COMP "SL0" SITE "38" ;
LOCATE COMP "LEDas0" SITE "133" ;
LOCATE COMP "inFlag0" SITE "138" ;
LOCATE COMP "outFlag0" SITE "132" ;
