BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "outdiv00" SITE "61" ;
LOCATE COMP "AC0[0]" SITE "110" ;
LOCATE COMP "AC0[1]" SITE "109" ;
LOCATE COMP "AC0[2]" SITE "112" ;
LOCATE COMP "AC0[3]" SITE "111" ;
LOCATE COMP "AC0[4]" SITE "114" ;
LOCATE COMP "AC0[5]" SITE "113" ;
LOCATE COMP "AC0[6]" SITE "117" ;
LOCATE COMP "AC0[7]" SITE "115" ;
LOCATE COMP "clk0" SITE "120" ;
LOCATE COMP "cdiv0[0]" SITE "71" ;
LOCATE COMP "cdiv0[1]" SITE "69" ;
LOCATE COMP "cdiv0[2]" SITE "70" ;
LOCATE COMP "cdiv0[3]" SITE "68" ;
LOCATE COMP "codop0[0]" SITE "97" ;
LOCATE COMP "codop0[1]" SITE "98" ;
LOCATE COMP "codop0[2]" SITE "99" ;
LOCATE COMP "codop0[3]" SITE "100" ;
LOCATE COMP "codop0[4]" SITE "104" ;
LOCATE COMP "portB0[0]" SITE "50" ;
LOCATE COMP "portB0[1]" SITE "48" ;
LOCATE COMP "portB0[2]" SITE "49" ;
LOCATE COMP "portB0[3]" SITE "47" ;
LOCATE COMP "portB0[4]" SITE "45" ;
LOCATE COMP "portB0[5]" SITE "43" ;
LOCATE COMP "portB0[6]" SITE "44" ;
LOCATE COMP "portB0[7]" SITE "42" ;
LOCATE COMP "portA0[0]" SITE "60" ;
LOCATE COMP "portA0[1]" SITE "58" ;
LOCATE COMP "portA0[2]" SITE "59" ;
LOCATE COMP "portA0[3]" SITE "57" ;
LOCATE COMP "portA0[4]" SITE "56" ;
LOCATE COMP "portA0[5]" SITE "54" ;
LOCATE COMP "portA0[6]" SITE "55" ;
LOCATE COMP "portA0[7]" SITE "52" ;
LOCATE COMP "carryOut" SITE "96" ;
