BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "cdiv0[4]" SITE "95" ;
LOCATE COMP "cdiv0[3]" SITE "96" ;
LOCATE COMP "cdiv0[2]" SITE "93" ;
LOCATE COMP "cdiv0[1]" SITE "94" ;
LOCATE COMP "cdiv0[0]" SITE "91" ;
LOCATE COMP "clk0" SITE "110" ;
