BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "NUM2[3]" SITE "33" ;
LOCATE COMP "NUM2[2]" SITE "32" ;
LOCATE COMP "NUM2[1]" SITE "35" ;
LOCATE COMP "NUM2[0]" SITE "34" ;
LOCATE COMP "NUM1[3]" SITE "132" ;
LOCATE COMP "NUM1[2]" SITE "133" ;
LOCATE COMP "NUM1[1]" SITE "24" ;
LOCATE COMP "NUM1[0]" SITE "23" ;
LOCATE COMP "SUM[4]" SITE "105" ;
LOCATE COMP "SUM[3]" SITE "106" ;
LOCATE COMP "SUM[2]" SITE "107" ;
LOCATE COMP "SUM[1]" SITE "40" ;
LOCATE COMP "SUM[0]" SITE "38" ;
LOCATE COMP "option" SITE "1" ;
