BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "outDisplay[0]" SITE "143" ;//143
LOCATE COMP "outDisplay[1]" SITE "140" ;//140
LOCATE COMP "outDisplay[2]" SITE "141" ;//141
LOCATE COMP "outDisplay[3]" SITE "138" ;//138
LOCATE COMP "outDisplay[4]" SITE "139" ;//139
LOCATE COMP "outDisplay[5]" SITE "132" ;//132
LOCATE COMP "outDisplay[6]" SITE "133" ;//133
LOCATE COMP "cdiv00[0]" SITE "39" ;
LOCATE COMP "cdiv00[1]" SITE "41" ;
LOCATE COMP "cdiv00[2]" SITE "40" ;
LOCATE COMP "cdiv00[3]" SITE "100" ;
LOCATE COMP "cdiv00[4]" SITE "105" ;
LOCATE COMP "clk00" SITE "22" ;
LOCATE COMP "inport8a0[0]" SITE "50" ;
LOCATE COMP "inport8a0[1]" SITE "48" ;
LOCATE COMP "inport8a0[2]" SITE "49" ;
LOCATE COMP "inport8a0[3]" SITE "47" ;
LOCATE COMP "inport8a0[4]" SITE "45" ;
LOCATE COMP "inport8a0[5]" SITE "43" ;
LOCATE COMP "inport8a0[6]" SITE "44" ;
LOCATE COMP "inport8a0[7]" SITE "42" ;
LOCATE COMP "outTransist0[0]" SITE "35" ;
LOCATE COMP "outTransist0[1]" SITE "32" ;
LOCATE COMP "outTransist0[2]" SITE "33" ;
LOCATE COMP "outTransist0[3]" SITE "34" ;
LOCATE COMP "outport8a0[0]" SITE "110" ;//110
LOCATE COMP "outport8a0[1]" SITE "109" ;//109
LOCATE COMP "outport8a0[2]" SITE "112" ;//112
LOCATE COMP "outport8a0[3]" SITE "111" ;//111
LOCATE COMP "outport8a0[4]" SITE "114" ;
LOCATE COMP "outport8a0[5]" SITE "113" ;//113
//113
LOCATE COMP "outport8a0[6]" SITE "117" ;//117
LOCATE COMP "outport8a0[7]" SITE "115" ;
LOCATE COMP "sFlag12B" SITE "21" ;

LOCATE COMP "sFlag12out" SITE "24" ;
LOCATE COMP "sFlag8out" SITE "23" ;
LOCATE COMP "sFlagInst" SITE "26" ;
LOCATE COMP "soutFlagIt" SITE "25" ;
LOCATE COMP "soutFlagpc" SITE "28" ;
LOCATE COMP "soutFlagrom" SITE "27" ;
LOCATE COMP "reset0" SITE "60" ;
LOCATE COMP "outcodeport[0]" SITE "99" ;
LOCATE COMP "outcodeport[1]" SITE "98" ;
LOCATE COMP "outcodeport[2]" SITE "97" ;
LOCATE COMP "outcodeport[3]" SITE "96" ;
LOCATE COMP "outpcport[0]" SITE "95" ;
LOCATE COMP "outpcport[1]" SITE "94" ;
LOCATE COMP "outpcport[2]" SITE "93" ;
LOCATE COMP "outpcport[3]" SITE "92" ;
LOCATE COMP "outport120[0]" SITE "91" ;
LOCATE COMP "outport120[1]" SITE "86" ;
LOCATE COMP "outport120[2]" SITE "85" ;
LOCATE COMP "outport120[3]" SITE "84" ;
LOCATE COMP "outport120[4]" SITE "83" ;
LOCATE COMP "outport120[5]" SITE "82" ;
LOCATE COMP "outport120[6]" SITE "81" ;
LOCATE COMP "outport120[7]" SITE "78" ;
LOCATE COMP "outport120[8]" SITE "77" ;
LOCATE COMP "outport120[9]" SITE "76" ;
LOCATE COMP "outport120[10]" SITE "75" ;
LOCATE COMP "outport120[11]" SITE "74" ;
LOCATE COMP "outport8a0[5]" SITE "21" ;
LOCATE COMP "sFlag12B" SITE "20" ;
