BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "pos[0]" SITE "62" ;
LOCATE COMP "pos[1]" SITE "67" ;
LOCATE COMP "pos[2]" SITE "61" ;
LOCATE COMP "pos[3]" SITE "65" ;
LOCATE COMP "pos[4]" SITE "58" ;
LOCATE COMP "pos[5]" SITE "60" ;
LOCATE COMP "pos[6]" SITE "57" ;
LOCATE COMP "reset" SITE "40" ;
LOCATE COMP "servo" SITE "110" ;
LOCATE COMP "clk" SITE "95" ;
