BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk00" SITE "132" ;
LOCATE COMP "cdiv00[0]" SITE "44" ;
LOCATE COMP "cdiv00[1]" SITE "39" ;
LOCATE COMP "cdiv00[2]" SITE "41" ;
LOCATE COMP "cdiv00[3]" SITE "38" ;
LOCATE COMP "cdiv00[4]" SITE "40" ;
LOCATE COMP "outtransist0[0]" SITE "10" ;
LOCATE COMP "outtransist0[1]" SITE "11" ;
LOCATE COMP "outtransist0[2]" SITE "13" ;
LOCATE COMP "outtransist0[3]" SITE "12" ;
LOCATE COMP "outrLED0[0]" SITE "110" ;
LOCATE COMP "outrLED0[1]" SITE "109" ;
LOCATE COMP "outrLED0[2]" SITE "112" ;
LOCATE COMP "outrLED0[3]" SITE "111" ;
LOCATE COMP "enr0" SITE "43" ;
LOCATE COMP "outcoder0[0]" SITE "6" ;
LOCATE COMP "outcoder0[1]" SITE "9" ;
LOCATE COMP "outcoder0[2]" SITE "5" ;
LOCATE COMP "outcoder0[3]" SITE "4" ;
LOCATE COMP "outcoder0[4]" SITE "2" ;
LOCATE COMP "outcoder0[5]" SITE "3" ;
LOCATE COMP "outcoder0[6]" SITE "1" ;
LOCATE COMP "inkey0[3]" SITE "81" ;
LOCATE COMP "inkey0[2]" SITE "82" ;
LOCATE COMP "inkey0[1]" SITE "77" ;
LOCATE COMP "inkey0[0]" SITE "78" ;
LOCATE COMP "outr0[3]" SITE "75" ;
LOCATE COMP "outr0[2]" SITE "76" ;
LOCATE COMP "outr0[1]" SITE "73" ;
LOCATE COMP "outr0[0]" SITE "74" ;
