BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Ai[7]" SITE "19" ;
LOCATE COMP "Ai[6]" SITE "20" ;
LOCATE COMP "Ai[5]" SITE "21" ;
LOCATE COMP "Ai[4]" SITE "22" ;
LOCATE COMP "Ai[3]" SITE "132" ;
LOCATE COMP "Ai[2]" SITE "133" ;
LOCATE COMP "Ai[1]" SITE "24" ;
LOCATE COMP "Ai[0]" SITE "23" ;
LOCATE COMP "Bi[7]" SITE "26" ;
LOCATE COMP "Bi[6]" SITE "25" ;
LOCATE COMP "Bi[5]" SITE "28" ;
LOCATE COMP "Bi[4]" SITE "27" ;
LOCATE COMP "Bi[3]" SITE "33" ;
LOCATE COMP "Bi[2]" SITE "32" ;
LOCATE COMP "Bi[1]" SITE "35" ;
LOCATE COMP "SL" SITE "1" ;
LOCATE COMP "So[7]" SITE "61" ;
LOCATE COMP "So[6]" SITE "60" ;
LOCATE COMP "So[5]" SITE "58" ;
LOCATE COMP "So[4]" SITE "59" ;
LOCATE COMP "So[3]" SITE "57" ;
LOCATE COMP "So[2]" SITE "56" ;
LOCATE COMP "So[1]" SITE "54" ;
LOCATE COMP "So[0]" SITE "55" ;
LOCATE COMP "LED" SITE "91" ;
LOCATE COMP "Bi[0]" SITE "34" ;
