BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "vector_entrada[0]" SITE "43" ;
LOCATE COMP "vector_entrada[1]" SITE "45" ;
LOCATE COMP "vector_entrada[2]" SITE "42" ;
LOCATE COMP "vector_entrada[3]" SITE "44" ;
LOCATE COMP "vector_entrada[4]" SITE "39" ;
LOCATE COMP "vector_entrada[5]" SITE "41" ;
LOCATE COMP "vector_entrada[6]" SITE "38" ;
LOCATE COMP "vector_entrada[7]" SITE "40" ;
LOCATE COMP "vector_entrada[8]" SITE "54" ;
LOCATE COMP "vector_entrada[9]" SITE "56" ;
LOCATE COMP "vector_entrada[10]" SITE "52" ;
LOCATE COMP "vector_entrada[11]" SITE "55" ;
LOCATE COMP "vector_entrada[12]" SITE "48" ;
LOCATE COMP "vector_entrada[13]" SITE "50" ;
LOCATE COMP "vector_entrada[14]" SITE "47" ;
LOCATE COMP "vector_entrada[15]" SITE "49" ;
LOCATE COMP "vector_salida[0]" SITE "110" ;
LOCATE COMP "vector_salida[1]" SITE "109" ;
LOCATE COMP "vector_salida[2]" SITE "112" ;
LOCATE COMP "vector_salida[3]" SITE "111" ;
LOCATE COMP "vector_salida[4]" SITE "114" ;
LOCATE COMP "vector_salida[5]" SITE "113" ;
LOCATE COMP "vector_salida[6]" SITE "117" ;
LOCATE COMP "vector_salida[7]" SITE "115" ;
LOCATE COMP "vector_salida[8]" SITE "120" ;
LOCATE COMP "vector_salida[9]" SITE "119" ;
LOCATE COMP "vector_salida[10]" SITE "121" ;
LOCATE COMP "vector_salida[11]" SITE "122" ;
LOCATE COMP "vector_salida[12]" SITE "125" ;
LOCATE COMP "vector_salida[13]" SITE "126" ;
LOCATE COMP "vector_salida[14]" SITE "127" ;
LOCATE COMP "vector_salida[17]" SITE "133" ;
LOCATE COMP "vector_salida[18]" SITE "132" ;
LOCATE COMP "vector_salida[19]" SITE "74" ;
LOCATE COMP "vector_salida[20]" SITE "73" ;
LOCATE COMP "vector_salida[21]" SITE "76" ;
LOCATE COMP "vector_salida[22]" SITE "75" ;
LOCATE COMP "vector_salida[23]" SITE "78" ;
LOCATE COMP "vector_salida[24]" SITE "77" ;
LOCATE COMP "vector_salida[25]" SITE "82" ;
LOCATE COMP "vector_salida[26]" SITE "81" ;
LOCATE COMP "vector_salida[27]" SITE "84" ;
LOCATE COMP "vector_salida[28]" SITE "83" ;
LOCATE COMP "vector_salida[29]" SITE "86" ;
LOCATE COMP "vector_salida[30]" SITE "85" ;
LOCATE COMP "vector_salida[31]" SITE "92" ;
LOCATE COMP "vector_salida[15]" SITE "128" ;
LOCATE COMP "vector_salida[16]" SITE "138" ;
