BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "outword0[0]" SITE "143" ;
LOCATE COMP "outword0[1]" SITE "140" ;
LOCATE COMP "outword0[2]" SITE "141" ;
LOCATE COMP "outword0[3]" SITE "138" ;
LOCATE COMP "outword0[4]" SITE "139" ;
LOCATE COMP "outword0[5]" SITE "132" ;
LOCATE COMP "outword0[6]" SITE "133" ;
LOCATE COMP "cdiv00[0]" SITE "39" ;
LOCATE COMP "cdiv00[1]" SITE "41" ;
LOCATE COMP "cdiv00[2]" SITE "40" ;
LOCATE COMP "cdiv00[4]" SITE "105" ;
LOCATE COMP "clk00" SITE "22" ;
LOCATE COMP "en0" SITE "50" ;
LOCATE COMP "cdiv00[3]" SITE "100" ;
LOCATE COMP "outtransist0[0]" SITE "33" ;
LOCATE COMP "outtransist0[1]" SITE "32" ;
LOCATE COMP "outtransist0[2]" SITE "35" ;
LOCATE COMP "outtransist0[3]" SITE "34" ;
LOCATE COMP "outcr0[0]" SITE "110" ;
LOCATE COMP "outcr0[1]" SITE "109" ;
LOCATE COMP "outcr0[2]" SITE "112" ;
LOCATE COMP "outcr0[3]" SITE "111" ;
LOCATE COMP "outcr0[4]" SITE "114" ;
