BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "cdiv00[4]" SITE "26" ;
LOCATE COMP "cdiv00[3]" SITE "25" ;
LOCATE COMP "cdiv00[2]" SITE "28" ;
LOCATE COMP "cdiv00[1]" SITE "27" ;
LOCATE COMP "cdiv00[0]" SITE "33" ;
LOCATE COMP "ens0" SITE "1" ;
LOCATE COMP "ins0[7]" SITE "5" ;
LOCATE COMP "ins0[6]" SITE "6" ;
LOCATE COMP "ins0[5]" SITE "9" ;
LOCATE COMP "ins0[4]" SITE "10" ;
LOCATE COMP "ins0[3]" SITE "11" ;
LOCATE COMP "ins0[2]" SITE "12" ;
LOCATE COMP "ins0[1]" SITE "13" ;
LOCATE COMP "ins0[0]" SITE "14" ;
LOCATE COMP "outs0[7]" SITE "91" ;
LOCATE COMP "outs0[6]" SITE "92" ;
LOCATE COMP "outs0[5]" SITE "93" ;
LOCATE COMP "outs0[4]" SITE "94" ;
LOCATE COMP "outs0[3]" SITE "96" ;
LOCATE COMP "outs0[2]" SITE "95" ;
LOCATE COMP "outs0[1]" SITE "98" ;
LOCATE COMP "outs0[0]" SITE "97" ;
LOCATE COMP "clk00" SITE "61" ;
LOCATE COMP "notimes0[3]" SITE "19" ;
LOCATE COMP "notimes0[2]" SITE "20" ;
LOCATE COMP "notimes0[1]" SITE "21" ;
LOCATE COMP "notimes0[0]" SITE "22" ;
LOCATE COMP "sel0[0]" SITE "4" ;
LOCATE COMP "sel0[1]" SITE "3" ;
