BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "cdiv00[0]" SITE "65" ;
LOCATE COMP "cdiv00[1]" SITE "58" ;
LOCATE COMP "cdiv00[2]" SITE "60" ;
LOCATE COMP "cdiv00[3]" SITE "57" ;
LOCATE COMP "cdiv00[4]" SITE "49" ;
LOCATE COMP "en0" SITE "40" ;
LOCATE COMP "clk00" SITE "132" ;
LOCATE COMP "outFlag0" SITE "128" ;
LOCATE COMP "inkey0[3]" SITE "81" ;
LOCATE COMP "inkey0[2]" SITE "82" ;
LOCATE COMP "inkey0[1]" SITE "77" ;
LOCATE COMP "inkey0[0]" SITE "78" ;
LOCATE COMP "outr0[3]" SITE "74" ;
LOCATE COMP "outr0[2]" SITE "73" ;
LOCATE COMP "outr0[1]" SITE "76" ;
LOCATE COMP "outr0[0]" SITE "75" ;
LOCATE COMP "rw0" SITE "43" ;
LOCATE COMP "outrLED0[0]" SITE "110" ;
LOCATE COMP "outrLED0[1]" SITE "109" ;
LOCATE COMP "outrLED0[2]" SITE "112" ;
LOCATE COMP "outrLED0[3]" SITE "111" ;
LOCATE COMP "outcontR0[0]" SITE "114" ;
LOCATE COMP "outcontR0[1]" SITE "113" ;
LOCATE COMP "outcontR0[2]" SITE "117" ;
LOCATE COMP "outcontR0[3]" SITE "115" ;
LOCATE COMP "outcontR0[4]" SITE "120" ;
LOCATE COMP "outcontW0[0]" SITE "119" ;
LOCATE COMP "outcontW0[1]" SITE "121" ;
LOCATE COMP "outcontW0[2]" SITE "122" ;
LOCATE COMP "outcontW0[3]" SITE "125" ;
LOCATE COMP "outcontW0[4]" SITE "126" ;
LOCATE COMP "outtransist0[0]" SITE "10" ;
LOCATE COMP "outtransist0[1]" SITE "11" ;
LOCATE COMP "outtransist0[2]" SITE "13" ;
LOCATE COMP "outtransist0[3]" SITE "12" ;
LOCATE COMP "outword0[0]" SITE "6" ;
LOCATE COMP "outword0[1]" SITE "9" ;
LOCATE COMP "outword0[2]" SITE "5" ;
LOCATE COMP "outword0[3]" SITE "4" ;
LOCATE COMP "outword0[4]" SITE "2" ;
LOCATE COMP "outword0[5]" SITE "3" ;
LOCATE COMP "outword0[6]" SITE "1" ;
