BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "ins0[0]" SITE "39" ;
LOCATE COMP "ins0[1]" SITE "41" ;
LOCATE COMP "ins0[2]" SITE "40" ;
LOCATE COMP "ins0[3]" SITE "100" ;
LOCATE COMP "ins0[4]" SITE "105" ;
LOCATE COMP "ins0[5]" SITE "104" ;
LOCATE COMP "ins0[6]" SITE "107" ;
LOCATE COMP "ins0[7]" SITE "106" ;
LOCATE COMP "clk00" SITE "27" ;
LOCATE COMP "outs0[7]" SITE "115" ;
LOCATE COMP "outs0[6]" SITE "117" ;
LOCATE COMP "outs0[5]" SITE "113" ;
LOCATE COMP "outs0[4]" SITE "114" ;
LOCATE COMP "outs0[3]" SITE "111" ;
LOCATE COMP "outs0[2]" SITE "112" ;
LOCATE COMP "outs0[1]" SITE "109" ;
LOCATE COMP "outs0[0]" SITE "110" ;
LOCATE COMP "en0" SITE "60" ;
LOCATE COMP "control0[0]" SITE "50" ;
LOCATE COMP "control0[1]" SITE "48" ;
LOCATE COMP "control0[2]" SITE "49" ;
LOCATE COMP "control0[3]" SITE "47" ;
LOCATE COMP "cdiv00[0]" SITE "71" ;
LOCATE COMP "cdiv00[1]" SITE "69" ;
LOCATE COMP "cdiv00[2]" SITE "70" ;
LOCATE COMP "cdiv00[3]" SITE "68" ;
LOCATE COMP "cdiv00[4]" SITE "67" ;
LOCATE COMP "rl0" SITE "58" ;
LOCATE COMP "rd1" SITE "59" ;
LOCATE COMP "rd2" SITE "57" ;
